/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define MEDIA   3
#define FUNCT   4

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -------------------------------------------------------------------------------------
// |  ESC |  Q  |  W  |  F  |  P  |  B  |   |  J  |  L   |  U  |  Y  |  -  |    =     |
// | CTRL |  A  |  R  |  S  |  T  |  G  |   |  M  |  N   |  E  |  I  |  O  |    '     |
// | SHFT |  Z  |  X  |  C  |  D  |  V  |   |  K  |  H   |  ,  |  .  |  /  |    OS    |
//                         | LWR TAB | ALT | SPC | BKSP  | RSE RET |
                        bindings = <
   &kp ESC   &kp Q &kp W &kp F &kp P &kp B   &kp J &kp L &kp U &kp Y &kp MINUS &kp EQUAL
   &kp LCTRL &kp A &kp R &kp S &kp T &kp G   &kp M &kp N &kp E &kp I &kp O &kp SQT
   &kp LSHFT &lt 3 Z &kp X &kp C &kp D &kp V   &kp K &kp H &kp COMMA &kp DOT &lt 4 FSLH &kp RGUI
                       &kp LALT &lt 1 TAB &kp SPACE &kp BSPC &lt 2 RET
                        >;
                };

                lower_layer {
// ----------------------------------------------------------------------------------
// |    |  `  |     |     |     |     |   |     |     |     |     |     |         |
// |    |  1  |  2  |  3  |  4  |  5  |   | 6   |  7  | 8   |  9  |  0  |     ;   |
// |    | CAPS|     |     |     |     |   |     |     |  [  | ]   |  \  |         |
//                       |     |     |    |     |     |
                        bindings = <
   &trans &kp GRAVE &trans  &trans &trans &trans   &trans &trans &trans &trans &trans &trans
   &trans &kp N1 &kp N2 &kp N3 &kp N4 &kp N5   &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp SEMI
   &trans &kp CLCK &trans &trans &trans &trans   &trans &trans &kp LBKT &kp RBKT &kp BSLH &trans
                                 &trans &trans &trans &trans &trans
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |    |     |     |     |     |     | | MENU | HOME | PGDN | PGUP | END |      |
// |    |     |     |     |     |     | |      | LEFT | DOWN |  UP  |RIGHT|      |
// |    |     |     |     |     |     | |      | DEL  |  INS | PSCRN|PAUSE|      |
//                          |    |   |    |    |    |
                        bindings = <
   &trans &trans &trans &trans  &trans  &trans          &kp K_APP  &kp HOME  &kp PG_DN &kp PG_UP  &kp END  &trans 
   &trans &trans &trans &trans &trans &trans            &trans  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT &trans 
   &trans &kp SLCK &trans &trans &trans &trans          &trans  &kp DEL  &kp INS  &kp PSCRN &kp PAUSE_BREAK &trans
                                &trans &trans &trans &trans &trans
                        >;
                };

                media_layer {
// -----------------------------------------------------------------------------
// | BOOT|     |     | RW  | FF  |PAUSE|   |   7  | 8   |  9  |  (  |  )  | CALC|
// |     |BRIDN|BRIUP|PREV |NEXT |P&P  |   |   4  |   5 |   6 |   * |  /  | NUM |
// |     |     |     |VOLUP|VOLDN|MUTE |   |   1  |  2  |   3 |   + |  -  |     |
//                        |     |     |     |   O  |  .  |
                        bindings = <
   &bootloader &trans  &trans   &kp C_RW   &kp C_FF   &kp C_PAUSE                &kp N7  &kp N8 &kp N9 &kp LPAR &kp RPAR &kp C_AL_CALC
   &trans &kp C_BRI_DN &kp C_BRI_UP &kp C_PREV &kp C_NEXT &kp C_PP          &kp N4  &kp N5 &kp N6 &kp KP_ASTERISK &kp KP_SLASH &kp KP_NLCK
   &trans  &trans  &trans   &kp C_VOL_DN   &kp C_VOL_UP   &kp C_MUTE        &kp N1  &kp N2 &kp N3 &kp PLUS &kp MINUS &trans
                                   &trans   &trans   &trans   &kp N0   &kp DOT
                        >;
                };

                funct_layer {
// -----------------------------------------------------------------------------
// | F1  | F2  | F3  |  F4 |  F5 | F6  |   | F7  | F8  | F9  |  F10| F11 | F12 |
// | F13 | F14 | F15 | F16 | F17 | F18 |   | F19 | F20 | F21 | F22 | F23 | F24 |
// |     |     |     |     |     |     |   |     |     |     |     |     |     |
//                        |     |     |     |     |     |
                        bindings = <
   &kp F1 &kp F2  &kp F3   &kp F4   &kp F5   &kp F6      &kp F7    &kp F8    &kp F9    &kp F10    &kp F11    &kp F12
   &kp F13  &kp F14  &kp F15   &kp F16   &kp F17   &kp F18      &kp F19    &kp F20    &kp F21    &kp F22    &kp F23    &kp F24
   &trans  &trans  &trans   &trans   &trans   &trans     &trans    &trans    &trans    &trans   &trans   &trans
                                  &trans   &trans   &trans   &trans   &trans
                        >;
                };
        };
};
